

body {
  background-color: rgb(0,42,115);
}

.container{
   background-color: white;
   box-shadow: 10px 10px 5px lightgreen;
}

h1 {
    color: white;
}

h3 {
   color: lightblue;
}

p{
   margin-bottom: 10em;
}

img.resize {
  width:360px;
  height:auto;
}

.margin {
  margin-top: 50px;
  margin-bottom: 50px;
}
